<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador IoT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        body {
            background-color: #f3efef;
        }
    </style>
</head>
<body>
    <div class="col-md-12 fundo" align="center">
        <div class="d-flex justify-content-center">
            <h1>Bem-vindo ao Gerenciador IoT</h1>
        </div>
    </div>
    <div class="w-100 p3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sensor </th>
                    <th scope="col">Valor </th>
                    <th scope="col">Status Led</th>
                    <th scope="col">Ação </th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                        <th scope="row"> Umidade</th>
                        <td>
                            <h5>Valor?</h5>
                        </td>
                        <td>
                            <h5>{{LedRed}}</h5>
                        </td>
                        <td>
                            {% if LedRed == 'LED vermelho ON' %}
                            <a class="btn btn-primary" href="/led_vermelho/off" role="button">Desligar </a>
                            {% else %}
                            <a class="btn btn-primary" href="/led_vermelho/on" role="button">Ligar </a>
                            {% endif %}
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>